*{
    margin:0;
    padding:0;
    box-sizing:url(pics/JRLA3652.JPG) url(pics/OXHQ6084.JPG);
    font-family:Arial, sans-serif;
}

body{
    background:#f4f4f4;
    color:#333;
    
}

header{
    background:#0f172a;
    padding:15px 40px;
    position:sticky;
    top:0;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
}