*{
    margin:0;
    padding:0;
    box-sizing:url(pics/JRLA3652.JPG) url(pics/OXHQ6084.JPG);
    font-family:Arial, sans-serif;
}

body{
    background:#f4f4f4;
    color:#333;
    
}

header{
    background:#0f172a;
    padding:15px 40px;
    position:sticky;
    top:0;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
nav h1{
    color:white;
}

nav ul{
    list-style:none;
    display:flex;
}

nav ul li{
    margin-left:20px;
}

nav ul li a{
    color:white;
    text-decoration:none;
}
.hero{
    height:90vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background:linear-gradient(to right,#273042,#1e1c20);
    color:white;
    text-align:center;
}

.hero h2{
    font-size:50px;
}

.hero p{
    font-size:20px;
    margin:15px 0;
}
.btn{
    background:white;
    color:url(pics/IMG_E7324.JPG);
    padding:12px 25px;
    text-decoration:none;
    border-radius:30px;
    font-weight:bold;
}

section{
    padding:60px 10%;
}

h2{
    margin-bottom:20px;
    text-align:center;
}

#about p{
    text-align:center;
    margin-bottom:20px;
}